In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
plt.style.use('seaborn')

In [3]:
data = pd.read_csv("netflix_titles.csv")

In [4]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
data.shape

(8807, 12)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
data.isnull().sum()/len(data)*100

show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

In [9]:
new_data = data.drop('director',axis=1)

In [10]:
new_data.columns

Index(['show_id', 'type', 'title', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
new_data.listed_in

0                                           Documentaries
1         International TV Shows, TV Dramas, TV Mysteries
2       Crime TV Shows, International TV Shows, TV Act...
3                                  Docuseries, Reality TV
4       International TV Shows, Romantic TV Shows, TV ...
                              ...
8802                       Cult Movies, Dramas, Thrillers
8803               Kids' TV, Korean TV Shows, TV Comedies
8804                              Comedies, Horror Movies
8805                   Children & Family Movies, Comedies
8806       Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 8807, dtype: object

In [12]:
new_data.listed_in = new_data.listed_in.apply(lambda x: x.split(','))

In [13]:
new_data.listed_in

0                                         [Documentaries]
1       [International TV Shows,  TV Dramas,  TV Myste...
2       [Crime TV Shows,  International TV Shows,  TV ...
3                               [Docuseries,  Reality TV]
4       [International TV Shows,  Romantic TV Shows,  ...
                              ...
8802                   [Cult Movies,  Dramas,  Thrillers]
8803           [Kids' TV,  Korean TV Shows,  TV Comedies]
8804                           [Comedies,  Horror Movies]
8805                [Children & Family Movies,  Comedies]
8806    [Dramas,  International Movies,  Music & Music...
Name: listed_in, Length: 8807, dtype: object

In [14]:
genre_list = []
for i in new_data.listed_in.values:
    for j in i:
        if j not in genre_list:
            genre_list.append(j)
            
genre_list = [i.strip() for i in genre_list]

In [15]:
map_genre_dict = {i:np.zeros(len(new_data)) for i in genre_list}

In [16]:
df = pd.DataFrame(map_genre_dict)

In [17]:
for idx, genre_list in enumerate(new_data.listed_in.values):
    for genre in genre_list:
        genre = genre.strip()
        df[genre][idx] = 1

In [18]:
df

,Documentaries,International TV Shows,TV Dramas,TV Mysteries,Crime TV Shows,TV Action & Adventure,Docuseries,Reality TV,Romantic TV Shows,TV Comedies,...,Science & Nature TV,Teen TV Shows,Cult Movies,TV Shows,Faith & Spirituality,LGBTQ Movies,Stand-Up Comedy,Movies,Stand-Up Comedy & Talk Shows,Classic & Cult TV
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df.iloc[-1, :]

Documentaries                   0.0
International TV Shows          0.0
TV Dramas                       0.0
TV Mysteries                    0.0
Crime TV Shows                  0.0
TV Action & Adventure           0.0
Docuseries                      0.0
Reality TV                      0.0
Romantic TV Shows               0.0
TV Comedies                     0.0
TV Horror                       0.0
Children & Family Movies        0.0
Dramas                          1.0
Independent Movies              0.0
International Movies            1.0
British TV Shows                0.0
Comedies                        0.0
Spanish-Language TV Shows       0.0
Thrillers                       0.0
Romantic Movies                 0.0
Music & Musicals                1.0
Horror Movies                   0.0
Sci-Fi & Fantasy                0.0
TV Thrillers                    0.0
Kids' TV                        0.0
Action & Adventure              0.0
TV Sci-Fi & Fantasy             0.0
Classic Movies                  0.0
Anime Features                  0.0
Sports Movies                   0.0
Anime Series                    0.0
Korean TV Shows                 0.0
Science & Nature TV             0.0
Teen TV Shows                   0.0
Cult Movies                     0.0
TV Shows                        0.0
Faith & Spirituality            0.0
LGBTQ Movies                    0.0
Stand-Up Comedy                 0.0
Movies                          0.0
Stand-Up Comedy & Talk Shows    0.0
Classic & Cult TV               0.0
Name: 8806, dtype: float64

In [22]:
new_data.columns

Index(['show_id', 'type', 'title', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [23]:
new_data.drop('listed_in',axis=1,inplace=True)

In [27]:
# concatenation

new_data = pd.concat( [new_data, df], axis = 1 )

In [ ]:
new_data.isnull().sum()

# Problem Statement 1
> Which genre is the most popular?

In [48]:
df.sum(axis=0)

Documentaries                    869.0
International TV Shows          1351.0
TV Dramas                        763.0
TV Mysteries                      98.0
Crime TV Shows                   470.0
TV Action & Adventure            168.0
Docuseries                       395.0
Reality TV                       255.0
Romantic TV Shows                370.0
TV Comedies                      581.0
TV Horror                         75.0
Children & Family Movies         641.0
Dramas                          2427.0
Independent Movies               756.0
International Movies            2752.0
British TV Shows                 253.0
Comedies                        1674.0
Spanish-Language TV Shows        174.0
Thrillers                        577.0
Romantic Movies                  616.0
Music & Musicals                 375.0
Horror Movies                    357.0
Sci-Fi & Fantasy                 243.0
TV Thrillers                      57.0
Kids' TV                         451.0
Action & Adventure               859.0
TV Sci-Fi & Fantasy               84.0
Classic Movies                   116.0
Anime Features                    71.0
Sports Movies                    219.0
Anime Series                     176.0
Korean TV Shows                  151.0
Science & Nature TV               92.0
Teen TV Shows                     69.0
Cult Movies                       71.0
TV Shows                          16.0
Faith & Spirituality              65.0
LGBTQ Movies                     102.0
Stand-Up Comedy                  343.0
Movies                            57.0
Stand-Up Comedy & Talk Shows      56.0
Classic & Cult TV                 28.0
dtype: float64